/* src/App.css */
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0; /* reset padding */
}
body {
  margin: 0;
}
.game-over-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  z-index: 3;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden; /* optional: disables vertical scroll if not needed */
  touch-action: none; /* optional: prevents iOS double-tap zoom & scrolling */
}